.container{
        display: flex;
        gap: 20px; /* Jarak antar kotak */
        justify-content: center;
        flex-wrap: wrap;
}

.about {

}

.lastWinner {

}

.winner-container {
    display: flex;       /* Turns the container into a flexbox */
    align-items: flex-start; /* Keeps text aligned to the top */
    gap: 20px;           /* Adds space between the image and text */
}

.winner-container img {
  flex-shrink: 0;      /* Prevents the image from getting squished */
  width: 200px;        /* Set your preferred width */
  height: auto;
}

.winner-text {
    display: flex;
    flex-direction: column; /* This stacks the name ABOVE the paragraph */
    gap: 5px;               /* Space between the name and the paragraph */
}

.winner-text h4  {
    margin: 0;
}

/* BAGIAN TOP 3 STUDENTS */

/* Mengatur posisi kartu agar berjejer */
.student-grid {
  display: flex;
  gap: 20px; /* Jarak antar kartu */
  justify-content: center;
}

.card {
  width: 250px;
  text-align: left;
}

.photo-box {
  overflow: hidden;  /* Memastikan foto tidak keluar dari garis tepi */
  border: 4px solid #b0b0b0;
  height: 300px;
  background-color: #eee;
}

.photo-box img {
  width: 100%;       /* Lebar mengikuti kotak */
  height: 100%;      /* Tinggi mengikuti kotak */
  object-fit: cover; /* Foto akan dipotong secara proporsional agar memenuhi kotak */
  display: block;    /* Menghilangkan celah kecil di bawah gambar */
}

.stars {
  font-size: 2rem;
  margin-bottom: 10px;
}

.review {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #333;
}

.footer-link {
  text-align: right;
  margin-top: 20px;
  font-size: 1.1rem;
  cursor: pointer;
}