body{
    background-color:rgb(14, 53, 87);
}
.header{
    font-family: impact;
    text-align: center;
    font-size: 30px;
    color:aliceblue
}
.img{
    float: left;
    margin: 15px;
}
.name{
    margin-top: 20px;
    margin-bottom: -16px;
    color:aliceblue;
    font-family: "Zalando Sans Expanded", sans-serif;
}
.class{
    color:aliceblue;
    font-family: "Roboto Condensed", sans-serif;
}
.paragraph{
    color:aliceblue;
    margin: 10px;
    font-family: "Roboto Condensed", sans-serif;
}
.star{
    text-align:right;
    font-size: 20px;
    color:aliceblue;
    margin-right: 20px;
}
.mainj{
    border: 3px solid rgba(64, 151, 162, 0.649);
    border-radius: 10px;
    display: flow-root;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px
}
#next{
    color:rgb(229, 254, 254);
    text-align: right;
    font-family: "Roboto Condensed", sans-serif;
}

