* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}


.head {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 40px;
 background-color: #14181c;
}


.logo {
 display: flex;
 align-items: center;
 gap: 10px;
}
.logo img {
 height: 60px;
}


.site-name {
   color: rgb(255, 255, 255);
 font-size: 30px;
 font-weight: bold;
}


.nav a {
 color: rgb(165, 165, 165);;
 text-decoration: none;
 margin-left: 25px;
 font-weight: 500;
}


.nav a:hover {
 color: #4CAF50;
}
.header {
 background-color: #222;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 10px 40px;
}


.logo img {
 height: 50px;   /* ukuran logo */
}


.nav a {
 color: rgb(165, 165, 165);
 text-decoration: none;
 margin-left: 25px;
 font-weight: 500;
}


.nav a:hover {
 color: #ffffff;
}


.site-name {
 font-family: 'Montserrat', sans-serif;
 font-size: 30px;
 font-weight: 700;
 color: white;
 letter-spacing: 2px;
}


.nav a {
 font-family: 'Montserrat', sans-serif;
 font-size: 13px;
 font-weight: 600;
 text-transform: uppercase;
 letter-spacing: 2px;
 color: rgb(165, 165, 165);;
 text-decoration: none;
 margin-left: 20px;
}


.netflix-footer {
 background: #141414; /* Netflix dark */
 color: #b3b3b3;
 padding: 60px 0 20px;
 font-family: 'Montserrat', sans-serif;
}


.footer-inner {
 max-width: 1200px;
 margin: auto;
 padding: 0 40px;
 display: grid;
 grid-template-columns: repeat(4, 1fr);
 gap: 40px;
}


.footer-col h3 {
 font-size: 24px;
 color: white;
 margin-bottom: 10px;
}


.footer-col h4 {
 font-size: 16px;
 color: white;
 margin-bottom: 12px;
 letter-spacing: 1px;
}


.footer-col p {
 font-size: 14px;
 line-height: 1.6;
}


.footer-col a {
 display: block;
 color: #b3b3b3;
 text-decoration: none;
 font-size: 14px;
 margin-bottom: 8px;
}


.footer-col a:hover {
 color: white;
}


.footer-bottom {
 text-align: center;
 margin-top: 40px;
 font-size: 13px;
 color: #777;
 border-top: 1px solid #222;
 padding-top: 15px;
}
